<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Tooling-only activities must not be launchable by other apps, even in debug builds. -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:exported="false"
            tools:replace="android:exported" />
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="false"
            tools:replace="android:exported" />
    </application>
</manifest>
